// Go to node_modules/bootstrap/scss/_variables.scss, copy the variables that give you problems, post it here and edit it. Style.scss will link to this file

// ensures color and borders are consistent with initial plan
$modal-content-bg: #03989e;
$modal-footer-border-color: #03989e;

// ensures font size in forms remain consistent
$input-font-size: 20px;
