@import './custom-variables.scss'; // by placing this above bootstrap, you can override all the bootstrap variables
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import 'node_modules/bootstrap/scss/bootstrap';

html {
  height: 100%;
  margin: 0px;
}

body {
  font-family: 'Open-Sans';
  font-size: 20px;
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;

  >div {
    height: calc(100vh - 100px);
  }
}

// navbar changes
#navbar {
  background-color: #03989e;
  opacity: 0.9;
  font-size: 20px;
}

// the center box for Home is different to the rest
#content-wrapper {
  background-color: #bfcdee;
  opacity: 0.9;
  box-shadow: 5px 5px 20px #03989e;
  border-radius: 10px;
}

// the index page for Reviews
#tableBox {
  background-color: #03989e;
  opacity: 0.9;
  color: white;
  box-shadow: 5px 5px 20px pink;
  border-radius: 10px;
}


// title within the boxes
.title {
  text-decoration: underline;
}

// shifting the close button to the right
.btn-close {
  position: absolute;
  left: 92%
}
