<%- contentFor('meta') %>
<title>My reviews</title>

<%- contentFor('styles') %>
  <style>
    body {
      background-image: url(https://wallpapercave.com/wp/wp3409440.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      background-position: center center;
    }
  </style>

<%- contentFor('scripts') %>


<%- contentFor('body') %>
<div class="container">
  <div>
    <h1 class='text-center'>My Reviews</h1>
  </div>



</div>

  // Search function via _partials

  // New button

  // Equipment     edit button     delete button     My rating

  // Pagination
