<script>
  $(document).ready(function() {
    $loginModal = $('#login-modal')
    $formForm = $('#login-form')
    $errorText = $loginModal.find('#error-text')

    $loginModal.on('click', '#login-form-submit', function(e) {
      e.preventDefault()
      const formData = new FormData($formForm[0])

      $errorText.empty()

      axios({
        method: 'POST',
        url: '/api/auth/login',
        data: formData
      }).then(function() {
        window.location.href = '/'
      }).catch(function(err) {
        switch (err.response.status) {
          case 406: {
            const { response: { data: { errors } }} = err

            $loginModal.find('.invalid-feedback').empty()
            $loginModal.find('.is-invalid').removeClass('is-invalid')

            errors.forEach(function(error) {
              const { param: fieldName, msg } = error
              const $input = $loginModal.find(`[name="${fieldName}"]`)
              const $invalidFeedback = $input.siblings('.invalid-feedback')
              $input.addClass('is-invalid')
              $invalidFeedback.text(msg)
            })
            break
          }
          case 404:
          case 401: {
            $errorText.html(err.response.data.message)
            break
          }
          default: {
            console.log(err.response)
            break
          }
        }
      })
    })
  })
</script>

<div id="login-modal" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title text-white mx-auto">Login</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h2 id="error-text" class="text-danger"></h2>
        <form id="login-form" novalidate>
          <div class="form-group">
            <h4 class="text-white">Email:</h4>
            <input class="form-control" type="email" name="email" placeholder="Please enter e-mail">
            <div class="invalid-feedback"></div>
          </div>
          <div class="form-group">
            <h4 class="text-white pt-3">Password:</h4>
            <input class="form-control" type="password" name="password" placeholder="Please enter password">
            <div class="invalid-feedback"></div>
          </div>
        </form>
      </div>
      <div class="d-flex justify-content-between modal-footer">
        <button id="login-form-submit" type="button" class="btn btn-primary btn-lg">Submit</button>
        <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
