<script>
  $(document).ready(function() {
    $signupModal = $('#signup-modal')
    $signupForm = $('#signup-form')

    $signupModal.on('hide.bs.modal', () => { // resets the contents inside the form
      $signupForm.trigger('reset')
    })

    $signupModal.on('click', '#signup-form-submit', function(e) {
      e.preventDefault()
      const formData = new FormData($signupForm[0]) // jQuery stringifies the object in jQuery format so we need to grab the first DOM element from it, which will most likely be 0 (for just ID).

      axios({
        method: 'POST',
        url: '/api/auth/signup',
        data: formData
      }).then(function() {
        $signupModal.modal('hide') // no authenticity token is generated
        $('#login-modal').modal('show')  // authenticity token is generated

      }).catch(function(err) {
        switch (err.response.status) {
          case 406: { // if you get a validation error, do all the following
            const { response: { data: { errors } }} = err

            $signupModal.find('.invalid-feedback').empty()
            $signupModal.find('.is-invalid').removeClass('is-invalid')

            errors.forEach(function(error) {
              const { param: fieldName, msg } = error
              const $input = $signupModal.find(`[name="${fieldName}"]`)
              const $invalidFeedback = $input.siblings('.invalid-feedback')
              $input.addClass('is-invalid')
              $invalidFeedback.text(msg)
            })
            break
          }
          default: {
            console.log(err.response)
            break
          }
        }
      })
    })
  })
</script>

<div id="signup-modal" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title text-white mx-auto">Signup</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="signup-form" novalidate>
          <div class="form-group">
            <h4 class="text-white">Email:</h4>
            <input class="form-control" type="email" name="email" placeholder="Please enter e-mail">
            <div class="invalid-feedback"></div>
          </div>
          <div class="form-group">
            <h4 class="text-white pt-3">Profile Name:</h4>
            <input class="form-control" type="text" name="profileName" placeholder="Please enter a profile name">
            <div class="invalid-feedback"></div>
          </div>
          <div class="form-group">
            <h4 class="text-white pt-3">Password:</h4>
            <input class="form-control" min="6" type="password" name="password" placeholder="Please enter a password">
            <div id="passwordHelp" class="invalid-feedback"></div>
            <div class="form-text text-body">Your password must be at least 6 characters long</div>
          </div>
        </form>
      </div>
      <div class="d-flex justify-content-between modal-footer">
        <button type="button" class="btn btn-danger btn-lg" data-bs-dismiss="modal">Close</button>
        <button id="signup-form-submit" type="button" class="btn btn-primary btn-lg d-flex justify-content:space-between">Submit</button>
      </div>
    </div>
  </div>
</div>
