<%- contentFor('styles') %>
<style>
  body {
    background-image: url(https://wallpapercave.com/wp/wp2673273.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
  }
</style>

<%- contentFor('scripts') %>

<%- contentFor('body') %>
<div class="container my-3">
  <h1 class="text-center mb-3">Home Page</h1>
</div>
