<%- contentFor('meta') %>
<title>MusicGear reviews</title>

<%- contentFor('styles') %>
<style>
  body {
    background-image: url(https://wallpapercave.com/wp/wp2673273.jpg);
  }
</style>

<%- contentFor('scripts') %>

<%- contentFor('body') %>
<div id="pages-home" class="container d-flex justify-content-center align-items-center">
  <div id="content-wrapper" class="p-3">
    <h2 class="text-center">Welcome to MusicGear reviews</h2>
    <br>
    <h4>
      In this website, you can see the latest reviews on all music gear. Click "reviews" to get started!

      By creating an account (it's free by the way!) you can contribute to the review ratings and add your own comments to the list.

      Enjoy your stay!
    </h4>
  </div>
</div>
