<form class="form-inline mb-3" action="/my/reviews" method="GET">
  <div class="form-group d-flex justify-content-center align-items-center mt-3">
    <div class="col-sm-5">
      <input class="form-control" type="text" placeholder="Search" name="q" value="<%= filters.q %>">
    </div>
    <div>
      <select name="sort" id="" class="btn btn-secondary dropdown-toggle btn-lg ms-3 dropdown-menu-dark" style="width: 10vw;">
        <option value="createdAt">Created at</option>
        <option value="rating">Rating</option>
        <option value="equipment.name">Equipment Name</option>
      </select>
    </div>
  </div>
  <div class="form-group d-flex justify-content-center mt-3">
    <div>
      <button class="btn btn-success btn-lg ms-3" type="submit">Search</button>
    </div>
    <div>
      <a class="btn btn-warning btn-lg ms-3" href="/my/reviews">Reset</a>
    </div>
  </div>
</form>
