<form id="equipment-form" novalidate>
  <div class="form-group">
    <h4 class="text-white">Equipment:</h4>
    <input
      class="form-control"
      type="text"
      name="title"
      data-error-ref="title"
      required>
    <div class="invalid-feedback"></div>
    <div class="form-text text-body">Limited to 30 characters</div>
  </div>

  <div class="form-group">
    <h4 class="text-white pt-3">Rating:</h4>
    <select
      class="form-select"
      aria-label="Default select example"
      name="rating"
      required
    >
      <option value="1">1</option>
      <option value="2">2</option>
      <option selected value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <div class="invalid-feedback"></div>
    <div class="form-text text-body">5 is the highest, 1 is the lowest</div>
  </div>

  <div class="form-group">
    <h4 class="text-white pt-3">Comment:</h4>
    <input
      class="form-control"
      type="text"
      name="comment"
      data-error-ref="comment"
      maxlength="255"
      required>
    <div class="invalid-feedback"></div>
    <div class="form-text text-body">Limited to 255 characters</div>
  </div>
</form>
