<%- contentFor('meta') %>
<title>Reviews</title>


<%- contentFor('styles') %>
  <style>
    body {
      background-image: url(https://wallpapercave.com/wp/wp3409440.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      background-position: center center;
    }
  </style>


<%- contentFor('scripts') %>

<%- contentFor('body') %>

<!-- list of publicly reviewed equipment here -->
