<%- contentFor('meta') %>
<title>Reviews</title>


<%- contentFor('styles') %>
  <style>
    body {
      background-image: url(https://wallpapercave.com/wp/wp3409440.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      background-position: center center;
    }

    .column {
      float: left;
      width: 50%;
      }

  </style>


<%- contentFor('scripts') %>

<%- contentFor('body') %>

<div class="reviewBox table p-4">
  <h1 class="text-center">Reviews</h1>

  <div class="row text-center">
    <div class="column">
      <h3 class="title">Equipment</h3>
      <h5>Yamaha MODX7</h5>
    </div>

    <div class="column">
      <h3 class="title">Average rating</h3>
      <h5>5.0</h5>
    </div>
  </div>
</div>
