<%- contentFor('meta') %>
<title>Reviews</title>


<%- contentFor('styles') %>
  <style>
    body {
      background-image: url(https://wallpapercave.com/wp/wp3409440.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      background-position: center center;
    }
  </style>


<%- contentFor('scripts') %>

<%- contentFor('body') %>
<!-- Uses grid from bootstrap -->


<div class="container reviewBox p-4 text-center">
  <h1 class='text-white'>Reviews</h1>

  <table style="width:100%;">
    <tr>
      <th class="w-50"><h3 class="title">Equipment</h3></th>
      <th class="w-50"><h3 class="title">Average ratings</h3></th>
    </tr>
    <tr>
      <td><h4>Yamaha MODX7</h4></td>
      <td><h4>5.0</h4></td>
    </tr>
  </table>
</div>
